.basepage {
     min-height: 100vh;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: center;
}

.title {
     align-content: center;
}


.eportfoliopreview{
     height: 300px;
     width: 300px;
     display: flex;
     margin: 10px;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     position: relative;
     overflow: hidden;
     border: 5px solid #1a1a1a;
     background: #1a1a1a;
     box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.829);
     border-radius: 20px;
     transition: background-color, 0.2s;
}

.eportfoliopreview:hover{
     background-color: #000000;
}

.eportfoliopreview * {
     color: rgb(211, 211, 211);
     font-family: Roboto;
     text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.829);
     text-align: center;
}

.eportfolioinfo {
     align-items: center
}

.button_container {
     color: black;
     border: 0; 
     border-radius: 10px;
     bottom: 5px;
     left: 5px;
     position: absolute;
     outline: 0;
}

.button_container .menu-item {
    background-color: transparent;
    border: none;
    outline: 0;
}

.options {
     position: absolute;
     top: 30px;
     right: 5px;
     border: 1px solid #1a1a1a;
     border-radius: 1000000px
}
   
ul {
     list-style: none;
}

li {
     text-align: center;
     background-color: darkgray;
     outline: 0;
     border: 1px solid #1a1a1a;
     
}


   
li:hover {
     background-color: grey;
     cursor: pointer;
}
     
.modal {
     font-size: 12px;
   }
   .modal > .header {
     width: 100%;
     border-bottom: 1px solid gray;
     font-size: 18px;
     text-align: center;
     padding: 5px;
   }
   .modal > .content {
     width: 100%;
     padding: 10px 5px;
   }
   .modal > .actions {
     width: 100%;
     padding: 10px 5px;
     margin: auto;
     text-align: center;
   }
   .modal > .close {
     cursor: pointer;
     position: absolute;
     display: block;
     padding: 2px 5px;
     line-height: 20px;
     right: -10px;
     top: -10px;
     font-size: 24px;
     background: #ffffff;
     border-radius: 18px;
     border: 1px solid #cfcece;
   }