@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto'),
       url('../fonts/roboto/Roboto-Light.ttf') format('TrueType');
}

.eportfolioBody {
  position: absolute;
  background-color: #fff;
  min-height: 100vh;
  min-width: 100%;
}

.eportfolioBody .header {
  background-color: #3F3D56;
  width: 100%;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.829);
}

.eportfolioBody .header * {
  color: #fff;
  background-color: transparent;
  font-family: Roboto;
}

.eportfolioBody .header .addWidgetButton,
.eportfolioBody .header p{
  border: none;
  float: right;
  width: 25%;
  height: 100%;
  vertical-align: middle;
}

.eportfolioBody .header .addWidgetButton:hover {
  background-color: #60607C;
  border: 1px solid #3F3D56;
}

.eportfolioBody .header .impact {
  display: inline;
  vertical-align: middle;
}

.eportfolioBody .header h1 {
  text-align: center;
  min-width: 50%;
  width: 100%;
  height: 100%;
  line-height: 78px;
}

.eportfolioBody .header p {
  text-align: left;
  margin: auto;
  padding: auto;
  line-height: 40px;
}

.eportfolioBody  * {
  font-family: Roboto;
}

.eportfolioBody button {
  border: none;
  outline: none;
}

.eportfolioBody  {
  background-color: #f7f8fa;
  width: auto;
}

.eportfolioBody p, .eportfolioBody h1 {
  padding-left: 15px;
  background-color: transparent;
}


.eportfolioBody image {
  object-fit: fill;
  width: 10px;
}


.eportfolioBody .react-grid-layout {
  background: rgba(0,0,0,0.2);
  border-radius: 20px;
  position: relative;
  transition: height 200ms ease;
}


.eportfolioBody .react-grid-item {
  overflow: hidden;
  border: 2px solid #d7d8da;
  background: #f7f8fa;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.829);
  border-radius: 20px;
  transition: all 200ms ease;
  transition-property: left, top;
  cursor: pointer;
}

.eportfolioBody .react-grid-item img{
  width: 100%;
}


.eportfolioBody .react-grid-item iplayer{
  width: 100%;
  height: 98%;
}


.eportfolioBody .react-grid-item.cssTransforms {
  transition-property: transform;
}

.eportfolioBody .react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}



.eportfolioBody .react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}


.eportfolioBody .react-grid-item.dropping {
  visibility: hidden;
}


.eportfolioBody .react-grid-item.react-grid-placeholder {
  background: rgb(70, 70, 70);
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}


.eportfolioBody .react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 10px;
  right: 10px;
  cursor: se-resize;
  z-index: 2;
}


.eportfolioBody .react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}


.eportfolioBody .react-resizable-hide > .react-resizable-handle {
  display: none;
}


.eportfolioBody .overlay {
  float: right;
  position: fixed;
  z-index: 1;
  left: 5px;
  bottom: 5px;
  border-radius: 50%;
}

.eportfolioBody .settingsButton {
  background-color: #d7d8da;
  border-radius: 50%;
  outline: none;
  transition: background-color, 0.5s;
}

.eportfolioBody .settingsButton:hover {
  background-color: #f7f8fa;
}
