.form-container {
  width: 350px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=email],
.form-container input[type=password],
.form-container input[type=text] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: none;
  border-radius: 8px;
  background-color: #f1f1f1;
  outline: none;
}

/* When the required inputs aren't valid, do something */
.form-container input[type=text]:invalid:required,
.form-container input[type=password]:invalid:required,
.form-container input[type=email]:invalid:required {
  background-color: #ddd;
  border: 3px solid #ef5551;
}

/* When the required inputs aren't valid, do something */
.form-container input[type=text]:valid:required,
.form-container input[type=password]:valid:required,
.form-container input[type=email]:valid:required {
  background-color: #ddd;
  border: 3px solid #48d88f;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #1ace73;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: #eb2b25;
}

.form-container .cancel:hover, .open-button:hover {
  opacity: 0.88;
}

.forgot{
  display: block;
  text-align: right;
  width: 100%;
  padding-bottom: 10px;
  color: #333;
}

.hidden{
  display: none;
}

.required{
  display: inline;
  color: #ff0000;
}

.response {
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 6px;
  border-radius: 8px;
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  border: 2px solid #333;
}

.invalidResp {
  color: #d00000;
  background: #ffb0b0;
  border: 2px solid #ff3030;
}

.validResp {
  color: #fff;
  background: #1ace73;
  opacity: 0.8;
  border: 2px solid #2b8155;
}

.form-overlay .modal {
    font-size: 12px;
  }
  .form-overlay .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .form-overlay .modal > .content {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
  }

.form-content {
    width: 380px;
    align: center;
	background-color: #fff;
	border: 3px solid #f7f8fa;
}
