.menu_icon {
    font-size: 29px;
    height: 42.8px;
    width: 42.81px;
    padding: 0;
}

.menu {
  width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.menu-item {
  cursor: pointer;
  padding: 1px;
  height: 28px;
  border-bottom: 1px solid rgb(187, 187, 187);
}

.menu-item:hover {
  color: #2980b9;
}